.App {
  text-align: center;
  background-color: lightblue;
}

html{
  height:100%;
  background-color: lightblue;
}

a{
  text-decoration: none;
}

.NewForm, .EditForm{
  margin-left: auto;
  margin-right: auto;
}

.NewForm, .EditForm form{
  background-color: lightcyan;
  width:50%;
}

form{
  margin: 10px;
  display: grid;
}

.Submit{
  margin-left: auto;
  margin-right: auto;
  width:75px;
}

nav{
  height:75px;
}

nav a{
  text-decoration: none;
}

nav span{
  width:150px;
  margin: 100px;
}

.IndexTable{
  margin-left: auto;
  margin-right: auto;
  width:350px;
  text-align: center;
  background-color: lightcyan;
}

table{
  margin-left: auto;
  margin-right: auto;
}

td a{
  text-decoration: none;
}

.NavLink{
  font-size: 20px;
}

.Total{
  margin-left: 150px;
}

td{
  height: 35px;
}

th{
  font-size: 18px;
}

.red{
  color: red;
}

.green{
  color: green;
}

.neutral{
  color:darkgray;
}